

.clients-section {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    padding: 20px 20px 0px 85px;
   
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-family: Poppins;
    margin-top: 30px;
    margin-bottom: 30px;
}


.clients-info {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 20px;
}

.dividerLine {
    width: 2px;
    height: 50px;
    background-color: #ccc;
}



.clientLogo {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 160px;
}

.clientLogo img {
    height: 50px;
}
.clientLogo span{
    font-size: 20px;
}
.clientImage{
     padding:0px 5px;
}
.clientTitle{
    margin: 0px 15px 0px 0px;
    padding: 0px 10px;
}




.logos-container {
    display: flex;
    gap: 50px;
    animation: slide 10s linear infinite;
    
}

.logos-wrapper {
    overflow: hidden;
    width: calc(100% - 150px); 
}
@keyframes slide {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); } 
}

/* -------------------media query for making responsive  ------------------------------ */

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {

    .clients-section {
        display: flex;
        align-items: start;
        position: relative;
        z-index: 1;
        justify-content: space-between;
        padding:10px 15px;
        
        overflow: hidden;
        margin-top: 5px;
        margin-bottom: 0px;
        position: relative;
    }
    
    .clients-info {
        font-weight: bold;
        display: flex;
        align-items: start;
        width: 50px;
        font-size: 12px;
    }
    .clients-info p{
        font-size: 10px;
        width: 60px;
    }
    .clientLogo {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100px;
       justify-content: center;
       margin-top: 10px;
    }
    
    .clientLogo img {
        height: 20px;
    }
    .clientLogo span{
        font-size: 12px;
    }
    .info-title{
        width: 50px;
    }
    .logos-container {
        display: flex;
        gap: 10px;
        animation: slide 10s linear infinite;
        
    }
    
    .logos-wrapper {
        overflow: hidden;
        width: calc(100% - 150px); 
    }

}

@media screen and (max-width: 360px) {
    .navbar {
        padding: 10px 15px;
    }
    .logos-container {
        display: flex;
        gap: 8px;
        animation: slide 10s linear infinite;
        
    }
    
    .logos-wrapper {
        overflow: hidden;
        width: calc(100% - 150px); 
    }
}