.engaging-section{
    background: #F5F5F5;
   
    padding: 16px 0px;
}
.engagingTitle{
 display: flex;
 justify-content: center;
 align-items:center;
 font-family: Raleway;
 font-weight: 700;
 font-size: 48px;
 line-height: 124%;
 letter-spacing: -1%;
 text-align: center;
 vertical-align: middle;

}
.engagingTitle h1{
    font-family:Raleway ;
}
.highlightTitle{
    color: #A554E6;
}


.engaging-card{
 width: 380px;
height: 447px;
border-radius: 12px;
padding-top: 20px;
padding-right: 24px;
padding-bottom: 32px;
padding-left: 24px;
gap: 24px;
background:white;
}
.titleImage{
    width: 20px;
height: 20px;
margin-top: 2px;
}

.title-section{
    display: flex;
    gap: 5px;
}
.engagingImage{
    width: 334px;
height: 185px;
border-radius: 12px;
margin-top: 18px;

}
.card-title{
    margin-bottom: 5px;
    margin-left: 3px;
    font-family: Poppins;
font-weight:500px;
font-size: 20px;
line-height: 124%;
letter-spacing: 0%;
color: #000000;
}

.engaging-description{
    font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 140%;
letter-spacing: 0%;
color: #344054;
margin-top: 13px;
}
.engaging-card-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   padding: 25px 70px;
}

.smallcard{
    width: 378px;
height: 153px;
border-radius: 16px;
padding-top: 12px;
padding-right: 24px;
padding-bottom: 24px;
padding-left: 16px;
gap: 12px;
border: 1px solid #D0D5DD;
color: #344054;
}
.smallCardTitle{
    font-family: Poppins;
font-weight: 500px;
font-size: 20px;
line-height: 164%;
letter-spacing: 0%;
color: #000000;
padding-bottom: 10px;

}
.smallCardParent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 80px;
}

/* -------------------media query for making responsive  ------------------------------ */

@media screen and (max-width: 1024px) {
    .engaging-card-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px; 
      }
    
      .engaging-card-section .engaging-card {
        width: 48%; 
      }
      .smallCardParent{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px 10px;
    }
    .smallcard{
        width: 378px;
    height: 173px;
    border-radius: 16px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    gap: 12px;
    border: 1px solid #D0D5DD;
    color: #344054;
    }
    .engagingImage{
        width:95%;
    height: 185px;
    border-radius: 12px;
    margin-top: 18px;
    
    }
}

@media screen and (max-width: 820px){
    .engaging-card-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px; 
      }
    
      .engaging-card-section .engaging-card {
        width: 48%; 
      }
      .smallCardParent{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px 10px;
    }
    .smallcard{
        width: 378px;
    height: 173px;
    border-radius: 16px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    gap: 12px;
    border: 1px solid #D0D5DD;
    color: #344054;
    }
    .engagingImage{
        width:95%;
    height: 185px;
    border-radius: 12px;
    margin-top: 18px;
    
    }
}

@media screen and (max-width: 768px) {

    
       .engaging-card{
        width: 90% !important;
       height: auto;
       border-radius: 12px;
       padding-top: 15px;
       padding-right: 14px;
       padding-bottom: 22px;
margin-bottom: 15px;
       padding-left: 14px;
       gap:14px;
       background:white;
       }


    .engaging-card-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        padding: 10px 10px;
       
    }
    .engagingTitle{
        display: flex;
        justify-content: center;
        align-items:center;
        font-family: Raleway;
        font-weight: 700;
        font-size: 32px;
        line-height: 124%;
        letter-spacing: -1%;
        text-align: center;
        vertical-align: middle;
        padding-bottom: 15px;
       
       }
.engagingImage{
    display: block; 
    width: 95%;
    border-radius: 12px;
    margin: 10px auto; 
    text-align: center;

}
.smallcard{
    width: 90%;
    height: auto;
    border-radius: 16px;
    padding-top: 8px;
    padding-right:14px;
    padding-bottom: 14px;
    padding-left: 12px;
    gap: 12px;
    border: 1px solid #D0D5DD;
    color: #344054;
  
}
.smallCardParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 10px 10px;
    gap: 15px;
}
}

@media screen and (max-width: 360px) {
    
}









