
.faq-section {
    
    background: #F5F5F5;
    padding: 70px 90px;
    border-radius: 8px;
  
}

.mainfaqTitle{
    font-family: Poppins;
font-weight: 700;
font-size: 48px;
line-height: 100%;
letter-spacing: -1%;
color: #1E1E1E;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.faqHighlight {
    color: #9b5de5;
}

.faq-description {
    font-family: Poppins;
    text-align: center;
    font-size: 14px;
    color: #1D2939;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    
}


.faq-item {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
   
}

.faq-question {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
     font-size: 16px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
   
    color: #1D2939;
}

.faq-item.active .faq-question .faqIcon {
    background: #f5f5f5;
   
}
.faqIcon{
    padding:0px 7px 0px 7px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 100%;
}
.faq-question .faqIcon {
    font-size: 18px;
    transition: transform 0.3s;
}

.faq-answer {
    display: none;
    padding: 10px 15px;
    font-size: 14px;
    color: gray;
    padding-right: 235px;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .faq-question .icon {
    transform: rotate(0deg);
}



/* for making responsive------------------ */

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    .mainfaqTitle{
    font-family: Poppins;
font-weight: 700;
font-size: 28px;
line-height: 100%;
letter-spacing: -1%;
color: #1E1E1E;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
.faq-section {
    
    background: #F5F5F5;
    padding: 40px 10px;
    border-radius: 8px;
  
}
.faq-answer {
    display: none;
    padding: 4px 9px;
    font-size: 14px;
    color: gray;
    padding-right: 10px;
}

}
